input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.mainlogin {
  width: 800px;
  margin-top: 150px;
}
button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.psw {
  padding-top: 16px;
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}
.modal {
  width: 100%;
  height: 100%;
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}
.password {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
