* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}
/*nav*/
.baner-clear {
  background-color: #ffb3c1;
  width: 1300px;
  font-family: sans-serif;
  margin: 0 auto;
  border-radius: 0px 0px 80px 80px;
}
.banner-size {
  margin: 0 auto;
  max-width: 1175px;
  display: flex;
  justify-content: space-between;
}
.title {
  color: #590d22;
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
.baner-nav {
  display: flex;
  gap: 30px;
}
.baner-nav a {
  font-size: 23px;
  font-weight: bold;
  display: inline-block;
  color: #590d22;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 20px;
}
/*main*/
.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 300px;
  grid-row-gap: 50px;
  width: 1300px;
}
.small-main {
  width: 500px;
  padding-bottom: 20px;
}
.img-first {
  height: 500px;
  width: 500px;
  background-color: red;
}
.main-title-p {
  font-size: 30px;
}
.main-p {
  font-size: 20px;

  background-color: yellow;
}
