* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}
/*main*/
.main {
  display: grid;
  grid-template-columns: repeat(2, 1);
  grid-template-rows: repeat(2, 1);
  grid-column-gap: 300px;
  grid-row-gap: 50px;
  width: 1300px;
}
.img-first {
  height: 500px;
  width: 500px;
  background-color: red;
}
.main-p {
  width: 500px;
  background-color: yellow;
}
