* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}
body {
  background-image: url("beach.jpg");
}
/*nav*/
.main-baner {
  width: 100%;
}
.baner-clear {
  background-color: #04aa6d;
  width: 1300px;
  font-family: sans-serif;
  margin: 0 auto;
  border-radius: 0px 0px 200px 200px;
}
.banner-size {
  margin: 0 auto;
  max-width: 1175px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}
.title {
  color: white;
  font-size: 60px;
  text-transform: uppercase;
  font-style: italic;
}
.baner-nav {
  display: flex;
  gap: 30px;
}
.baner-nav a {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 20px;
}
/*main*/
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 1300px;
  margin-top: 100px;
}
.small-main {
  width: 1300px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.img-first {
  height: 400px;
  width: 500px;
}
.main-title-p {
  font-size: 40px;
  font-weight: bold;
  width: 600px;
  text-transform: uppercase;
}
.main-p {
  font-size: 25px;
  width: 600px;
  background-color: white;
  opacity: 0.4;
}

.main-smaller {
  width: 600px;
}
